* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-size: 17px;
    font-family: sans-serif;
    font-weight: lighter;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  
main {
    flex: 1;
}

header {
    background-color: #626F47;
    height: 4.5rem;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}

.spacer {
    flex: 1;
}

header a {
    text-decoration: none;
    color: white;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

header ul li a{
    font-weight: lighter;
}

button {
    width: 3rem;
}

#toggleButton {
    background-color: transparent; 
    border: none;
    margin-left: auto;
    font-size: 2rem;
    cursor: pointer;
}

#bar {
    font-size: 2rem;
    color: white;
}

#nav-bar li {
    list-style: none;
}

#nav-bar {
    position: fixed;
    top: 4.5rem; /* headerの下から出す */
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #626F47;
    z-index: 1000;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
    flex-direction: column;
}

#nav-bar.active {
    max-height: 100vh; 
    transition: max-height 0.4s ease-in;
}

#nav-bar a {
    display: block;
    padding: 30px 20px;
    text-align: center;
    color: #F0BB78;
    text-decoration: none;
    color: white;
}

#nav-bar a:hover {
    color: #F0BB78;
}

#closeButton {
    background-color: transparent; 
    border: none;
    font-size: 2rem;
    color: white;
    display: block; 
    margin: 0 auto;
    padding-top: 1rem;
}

#closeButton:hover i {
    color: #F0BB78;
}

#introimg {
    display: block;
    margin: 0 auto;
    width: 450px;
}

.intro {
    background-color: #F5ECD5;
    padding: 2rem 0 1rem 0;
}

h1 {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-size: 23px;
    color: #626F47;
    font-weight: lighter;
}

h2 {
    display: block;
    text-align: center;
    font-size: 27px;
    font-weight: lighter;
    margin: 2.5rem auto 2rem auto;
    margin-top: 2.5rem;

}

p {
    margin: 0 auto 1rem auto;
    line-height: 1.6;
    width: 470px;
}

img {
    width: 400px;
    display: block;
    margin: 0 auto 1rem auto;
}

footer {
    background-color: #626F47;
    margin-top: auto;
    height: 4.5rem;
}

footer p {
    color: white;
    display: block;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0.3rem;
    font-size: 1.4rem;
}

.projects {
    margin-bottom: 3.3rem;
}

.contactinfo {
    display: block;
    text-align: center;
    padding-top: 1rem;
}

.description {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 19px;
}

h3 {
    font-weight: lighter;
    margin: 1rem auto;
    max-width: 470px;
    font-size: 22px;
}

.links {
    text-decoration: none;
    color: #A4B465;
    border: 2px solid;
    display: block;
    width: 158px;
    padding: 1rem;
    margin: 1rem auto;
}

.links:hover {
    color: #F0BB78;
}

.form-container {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 480px;
    margin: 20px auto 30px auto;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    height: 530px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 3px;
    color: #555;
}

input {
    width: 418px; 
    height: 25px;
}

textarea {
    width: 418px;
    height: 250px;
}
  
button {
    display: flex;
    margin: 20px auto;
    background-color: #A4B465;
    color: white;
    border: none;
    padding: 12px 39px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 120px;
    
}
  
button:hover {
    background-color: #F0BB78;
}
  
#formMessage {
    margin-top: 15px;
    color: #A4B465;
    font-weight: bold;
}

.contact {
    display: block;
    text-align: center;
    font-size: 18px;
    margin-bottom: 2rem;
}

main ul li {
    margin: 0 auto auto auto;
    line-height: 1.6;
    width: 470px;
}

h4 {
    font-weight: lighter;
    margin: 1rem auto 0.5rem auto;
    max-width: 470px;
    font-size: 19px;
}

.education, .work, .award {
    margin-bottom: 3rem;
}

.wrapper {
    background-color: #F5ECD5;
    padding: 2.5rem 0 1.5rem 0;
}

.java {
    width: 300px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.buttons {
    margin-bottom: 2rem;
}

#response {
    margin-bottom: 2rem;
}



@media screen and (min-width: 768px) {
    #introimg {
        width: 600px;
    }

    img {
        width: 530px;
        margin-top: 1.5rem;
    }

    p {
        width: 650px;
    }
  
    h3 {
        max-width: 650px;
        margin: 0 auto 1rem auto;
    }

   .resume {
    gap: 3rem;
    max-width: 600px; 
    margin: 0 auto; 
    padding: 2rem 1rem;
    }

    .resume > div {
        flex: 1;                       
        max-width: 300px;             
    }

    #response {
        text-align: center;
    }

}

@media screen and (min-width: 1024px) { 
    #toggleButton {
      display: none;
    }

    #closeButton {
       display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4rem 0 5rem;
    }
    
    #nav-bar {
        position: static;         /* 親(header)内に戻す */
        display: block;
        height: auto;
        width: auto;
        max-height: none;
        background-color: transparent;

    }

    #nav-bar ul {
        display: flex;
        gap: 2rem;
        margin: 0;
        padding: 0;
    }

    #nav-bar li {
        list-style: none;
      }
    
    #nav-bar a {
        color: white;
        text-decoration: none;
        font-weight: lighter;
        font-size: 16px;
        padding: 0.5rem 0;
      }

    .intro {
        display: flex;
        align-items: center;
    }

    #introimg {
        display: block;
        margin: 2rem 3rem 3rem 5rem;
        width: 50%; 
    }

    h1 {
        font-size: 30px;
        width: 35%;
        padding-right: 4rem;
    }

    h2 {
        margin: 2rem auto 1.5rem auto;
        font-size: 25px;
    }

    .mainlayout {
        display: flex;
        justify-content: center;
        width: 1000px;
        gap: 8.5rem;
        margin: 2.5rem auto;
    }

    .mainlayout p {
        margin-top: 2rem;
    }

    .wrapper {
        padding: 1rem 0 1rem 0;
    }

    p {
        width: 580px;
    }

    .mainimages { 
        display: flex;
        align-items: center;
        width: 1050px;
        margin: 1.5rem auto;
    }

    img {
        width: 510px;
    }

    footer {
        height: 5.5rem;
    }

    .projects {
        display: flex;
        justify-content: center;  
        align-items: center;
        margin: 0 auto 4.5rem auto; 
        text-align: left;
        max-width: 1400px;         
    }

    .projects p {
        margin-left: 18rem;
        width: 580px;
        padding-right: 20px;
    }

    .projects h3 {
        margin-left: 18rem;
        width: 580px;
    }

    .links {
        margin-right: 16rem;
        display: flex;                 
        justify-content: center;      
        align-items: center;   
        text-align: center; 
        height: 60px;   
        width: 158px;      
    }

    main a {
        margin: 0;
    }

    h3 {
        max-width: 1000px;
        margin-left: 18rem;
    }     
    
    .resume {
        display: flex;
        justify-content: center; 
        align-items: flex-start;
        gap: 5rem; 
        max-width: 1000px; 
        margin: 0 auto; 
        padding: 2rem 1rem;
    
    }

    .resume > div {
        flex: 1;                        
        max-width: 300px;              
      }

    .contactcontainer {
        display: flex;
        justify-content: center;
        width: 1300px;
        gap: 3rem;
        margin: 1.5rem auto;
    }

    .contact {
        font-size: 25px;
    }

    .form-container {
        max-width: 550px;
    }
    
    input, textarea {
        width: 450px; 
        margin-left: 20px;
    }

    label {
        margin-left: 20px;
    }

    .resume {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
         "item1 item2"
         "item3 item2";
    }

    .education {
        grid-area: item1;
    }

    .work {
        grid-area: item2;
    }

    .award p {
        grid-area: item3;
        width: 450px;
    }

    .award {
        margin-top: -15rem;
    }

    .hresume {
        margin-left: 0;
    }

    .buttons {
        display: flex;
        margin: 0.5rem auto;
        gap: 1.5rem;
        width: 1050px;
    }
}   



