/* This style sets dark brown for all paragraphs */


p { 
    color:#712b12; 
   
} 

header {
    background-image: url(../images/background2.jpg);
    padding: 10px;
}

/*  Gives beige background and brown color for texts */
h1 { 
    color: #712b12; 
    text-align: center;
    font-size: 35px;
}

 /* Makes the name of the recepi orange */
h2 { 
    color: #f66a37;
    text-align: center;
    font-size: 25px;
}

h3 {
    color: rgb(1, 45, 1);
    text-align: center;
    margin: 20px;
}

/* This style gives brown background color and the same thickness to horizontal line */
.hr-style { 
    background-color: #712b12; height: 3px; 
}

nav {
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 60%;
}

.nav-list {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
}

.nav-list li {
    list-style: none;
    color: rgb(1, 45, 1);
    border-radius: 5px;   
    margin: 10px;
    background-color: #eac5ab;
    padding: 10px;
    text-align: center;
}
 
.nav-list a {
    text-decoration: none;
    color: rgb(1, 45, 1);
}

.nav-list a:hover {
    color: rgb(222, 101, 31);
  }

/* Makes body color light beige */
body { 
    background-color: antiquewhite; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    line-height: 1.3;

    }

li {
    color: rgb(1, 45, 1);
}

#img1 {
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    width: 80%; 
}

p {
  margin: 1.5rem;
}

.ingredients {
    text-align: center;
}

.ingredients ul {
    display: inline-block;
    text-align: left;
    margin-top: 0;
}
   
.instructions {
    text-align: center;

}

.instructions ol {
    display: inline-block;
    text-align: left;
    margin: 1.5rem;
    margin-top: 0;
}

.gallery {
    display: grid;  /* first set display type */
    grid-template-columns: 1fr; 
    gap: 1rem;
    margin-top: 10px;
}

.pic img{
    display: block;
    margin: 0 auto;
    border-radius: 25px;
    width: 80%; 
}

.resources {
    padding: 10px; 
    border-radius: 15px; 
    background-color: #cc7c0d44; 
    width: 80%;
    margin: 0 auto;
    text-align: center;
    list-style: none;
}

.resources li {  
    align-items: center;
    justify-content: center;
    margin: 10px;   
}

/* Set the size of the video and removes border */
#video { 
    width: 500px; height: 315px; border: none; 
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

footer {
    background-color: #cc7c0d44; 
    text-align: center;

}

@media screen and (min-width: 768px) {
    body {
      font-size: 20px;
      
    }

    nav {
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 20px;
        background-color: #eac5ab;
        height: 3.5rem;
    }

    .nav-list {
        list-style: none;
        color: rgb(1, 45, 1);
        display: flex;  
        justify-content: center;

    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        grid-area: item5;
    }
    
    .pic img{
        width: 100%; 
    }

    #img1 {
        width: 90%;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
         "item1 item2"
         "item3 item4"
         "item5 item5"
         "item6 item6"
         "item7 item7";
        align-items: stretch;
    }
    
    .item1 {
        padding-top: 1rem;
        grid-area: item1;
    }

    .item2 {
        grid-area: item2;
    }

    .item3 {
        padding-top: 3rem;
        grid-area: item3;
    }

    .item4 {
        padding-top: 3rem;
        grid-area: item4;
    }
    .item6 {
        grid-area: item6;
    }

    .item7 {
        grid-area: item7;
    }

    li {
        font-size: 20px;
    }
    
}

@media screen and (min-width: 1024px) { 
    nav {
        border-radius: 5px;
        margin: 0 auto;
        margin-bottom: 20px;
        background-color: #eac5ab;
        height: 3.5rem;
        width: 40%;
    }

    .nav-list {
        list-style: none;
        color: rgb(1, 45, 1);
        display: flex;  
        justify-content: center;
    }

    p {
        font-size: 20px;
    }
    main {
        display: grid;
        grid-template-columns: fr 1fr;
        grid-template-areas: 
         "item1 item2"
         "item1 item3"
         "item4 item4"
         "item6 item6"
         "item5 item5"
         "item7 item7";
        align-items: stretch;
    }
    
    .item1 {
        padding-top: 1rem;
        grid-area: item1;
    }

    .item2 {
        padding-top: 1rem;
        grid-area: item2;
        padding-bottom: 0;
    }

    .item3 {
        padding-top: 0;
        grid-area: item3;
    }

    .item4 {
        padding-top: 3rem;
        grid-area: item4;
    }
    .gallery {
        grid-area: item5;
    }

    .item6 {
        grid-area: item6;
        margin-bottom: 2rem;
    }

    .item7 {
        grid-area: item7;
    }

    #img1 {
        width: 95%;
    }


}