.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 10px;
    background-color: rgb(165, 96, 228);
    padding: 10px;
}

.grid-item:first-child { grid-column: 1 / 3; }

.grid-item {
    background-color: rgb(177, 176, 243);
    padding: 20px;
    text-align: center;
    font-size: 1.2rem;
}