

h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: midnightblue;
text-align: center; 
font-size: 40px;
padding-top: 1rem;
margin-bottom: 10px;
}

header {
  background-image: url(../images/background2.png);
  background-size: auto;
  background-position: bottom;
  height: 18rem;
}

h2 {
  text-align: center; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: midnightblue;
  padding-top: 20px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 1.5rem;
    font-size: 20px;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;

}

section {
  background-color: rgba(127, 186, 235, 0.5);
  padding-bottom: 10px;
}

li {
  list-style: none;
  font-size: 18px;
}

nav {
  margin: 0 auto;
  width: 38%;
  width: fit-content;
}

nav li {
  list-style: none;
  background-color: rgba(255, 255, 255, 0.5);
  height: 2em;
  display: flex;              /* Flexbox を使う */
  align-items: center;      /* 縦方向中央揃え */
}

nav li:hover {
  background-color: rgba(249, 187, 137, 0.5);
}

nav ul {
  padding: 0;
}

nav a {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: midnightblue;
  padding: 10px;
}

.box {
  border: 1px solid white;  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 80%;
}

figcaption {
  margin-left: auto;
  text-align: center;
}

footer{
  margin-top: 5px;
  text-align: center;
  padding-bottom: 5px;
}

figure { 
  margin: 0;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 20px;
    margin-left: 3rem;
    margin-right: 2rem;
    line-height: 1.7rem;
  }

  header {
    background-image: url(../images/background2.png);
    background-size: auto;
    height: 10rem;
  }

  nav {
    margin: 0 auto;
    width: 95%;
  }

  nav ul {
    display: flex;
    justify-content: center;
    gap: 25px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "item1 item1"
    "item5 item6"
    "item7 item7";
    gap: 1rem;
    object-fit: cover;
  }

  .gallery img {
    width: 100%;
    height: 250px;       
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .item1 {
    grid-area: item1;
}

  .item5 {
    grid-area: item5;
    padding-left: 1.5rem;
  }

  .item6 {
    grid-area: item6;
    padding-right: 2rem;
  }

  .item7 {
    padding-top: 0.3rem;
    grid-area: item7;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  p {
    font-size: 20px;
    line-height: 1.7rem;
    margin: 1rem;
    margin-right: 2rem;
  }


  header {
    background-image: url(../images/background2.png);
    background-size: auto;
    height: 10em;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 25px;  
  }

  img {
      width: 100%;
  }
  
  section {
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-areas: 
     "item1 item1"
     "item2 item3"
     "item2 item4";
     padding-bottom: 3rem;
  }

  .item1 {
      grid-area: item1;
  }

  .item2 {
    padding-left: 5rem;
    grid-area: item2;
    padding-bottom: 2rem; 
  }

  .item3 {
    padding-top: 1rem;
    padding-left: 2rem;
    width: 90%;
    grid-area: item3;
  }

  .item4 {
    grid-area: item4;
    display: flex;
    flex-direction: column;     /* 子要素を縦に並べる */
    align-items: center;        /* 横方向の中央揃え */
    text-align: center;    
  }

  .item4 ul li{
    text-align: left;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "item1 item1 item1"
    "item5 item6 item7";
    object-fit: cover;
    gap: 0.2rem;
    padding: 0;
  }

  .gallery img {
    width: 100%;
    height: 300px;         
    object-fit: cover;
    display: block;
    margin: 0;
    padding: 0;
  }

  .item5 {
    grid-area: item5;
    margin-left: 2rem;
  }

  .item6 {
    grid-area: item6;
    margin-left: 1rem;
  }

  .item7 {
    margin-left: 1rem;
    grid-area: item7;
  }

  .item5,
  .item6 {
    padding: 0;

  }

  figcaption {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
}
