

h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: midnightblue;
text-align: center; 
font-size: 40px;
}

h2 {
  text-align: center; 
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: midnightblue;
  padding-top: 20px;
}

p {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
margin: 10px;
}

body {
  background-color: rgb(206, 233, 250);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
}

section {
background-color: whitesmoke;

}

.links {
  display: flex;
  justify-content: center;
  gap: 25px;
  border: 2px solid rgb(59, 119, 249);
}

.links a:hover {
  background-color: aliceblue;
}

.links a {
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: midnightblue;
  padding: 10px;
}


.box {
  border: 1px solid white;  
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

figcaption {
  margin-left: auto;
  text-align: center;
}

footer{
  margin-top: 5px;
  text-align: center;
}

body section main ul li {
  list-style-image: url(/PhotoTourProject/images/flowers3.jpg);
  
}



  



