
        /* This style sets dark brown for all paragraphs */
         p { 
            color:#712b12; 
       
        } 

        /* Makes headers bold and 24px */
        .header-style { 
            font-weight: bold; font-size: 24px; 
        }
 
        /* This style gives brown background color and the same thickness to horizontal line */
        .hr-style { 
            background-color: #712b12; height: 3px; 
        }

        /* It makes all the links align center */
        .link-center { 
            text-align: center; 
        }
 
        /*  Gives beige background and brown color for texts */
        .hf-color { 
            background-color: #cc7c0d44;  color: #712b12; 
        }

        /* Makes the name of the recepi orange */
        h2 { 
            color: #f66a37;
         }
 
         /* Makes body color light beige */
        body { 
            background-color: antiquewhite; 
        }

        /* Set the size of the video and removes border */
        #video { 
            width: 500px; height: 315px; border: none; 
        }